<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
   <!-- Navbar -->
   <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand fw-bold" href="index.html">HotCoffee</a>
        <div class="d-flex justify-content-end py-2 ms-5">
          <i class="fas fa-search offset-5  mt-2 py-1"></i>
          <input class="form-control border-0 " type="search" placeholder="Search..." aria-label="Search">
        </div>
        </div>
        <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-2" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5">
            <li class="nav-item">
              <a class="nav-link text-dark" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="blog.html">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block" href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block" href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   </div>
  <!-- Navbar End -->

  <!-- Make Better Coffee -->
  <div class="containerDiv">
    <div class="container">
      <div class="row mt-5 py-5">
        <div class="col-md-6 my-5 py-3" id="coffeeCol">
          <h1 class="fw-bold">Make better <br> coffe <img src="/img/svg.svg" alt="" style="width: 90;height: 90px;"></h1>
          <p>why learn how to blog?</p>
        </div>
        <div class="col-md-6 px-5">
          <img class="me-2" src="/img/croods1.svg" alt="" style="width: 400px;height: 350px;">
        </div>
      </div>
    </div>
  </div>
  <!-- End Make Better Coffee -->
  
  <!-- Card Title and Image -->
  <div class="container d-flex mt-3 mb-4" id="ContainerId">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-7 col-lg-8 col-xl-6">
          <div class="card-body px-5 py-1 mx-4">
            <h3 class="card-title fw-bold fs-1 mt-4">long established</h3><br>
            <p class="card-text" style="color: #718096;font-size: 21px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p><br>
            <div class="bottomText d-flex">
              <p>May 20</p>
              <a><b>Read more</b></a>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-12 col-xl-6">
          <img src="/img/image1.png" class="card-img" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!-- End Card Title and Image -->

  <!-- Three Card -->
  <div class="container d-flex mt-3 mb-4" id="ContainerId">
    <div class="row">
      <div class="col-md-4">
        <div class="card" >
          <img src="/img/image 2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">long established</h4>
            <p class="card-text"style="color: #718096;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
            <div class="bottomText d-flex">
              <p>May 20</p>
              <a><b>Read more</b></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" >
          <img src="/img/image 4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">long established</h4>
            <p class="card-text"style="color: #718096;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
            <div class="bottomText d-flex">
              <p>May 20</p>
              <a><b>Read more</b></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/img/image 2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">long established</h4>
            <p class="card-text"style="color: #718096;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
            <div class="bottomText d-flex">
              <p>May 20</p>
              <a><b>Read more</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Cards -->

  <!-- Two Card -->
  <div class="container d-flex mt-3 mb-2">
    <div class="card mb-2 h-25">
      <div class="row g-0">
        <div class="col-md-6" id="titleCard">
          <div class="card-body px-5 py-5 mx-5 my-5">
            <h1 class="card-title fw-bold ">What is Lorem Ipsum?</h1><br>
            <p class="card-text" style="color: #718096;font-size: 21px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution...</p><br>
            <div class="bottomText d-flex">
              <p>May 20</p>
              <a><b>Read more</b></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 h-25">
          <img src="https://picsum.photos/seed/picsum/647/510" class="card-img" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!-- End Two Card -->

  <!-- See More -->

  <div class="container">
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <button class="btn btn-info rounded fw-bold" style="background-color: #6B46C1;color: white;">See more <i class="far fa-arrow-alt-circle-down"></i></button>
      </div>
    </div>
  </div>

  <hr>

  <!-- End See More -->

  <!-- Footer -->
  <footer class="text-muted mb-2 ">
    <div class="container">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">
          <p class="text-dark"><b>hotcoffee</b> 2020 copyright all rights reserved</p>
        </div>
        <div class="p-2 bd-highlight">
          <i class="fab fa-instagram fa-2x text-dark"></i>
        </div>
        <div class="p-2 bd-highlight">
          <i class="fab fa-twitter fa-2x text-dark"></i>
        </div>
        <div class="p-2 bd-highlight">
          <i class="fab fa-linkedin fa-2x text-dark"></i>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>